@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
.fixed__calculator
	box-sizing: border-box
	width: 30px
	padding: 15px
	background-color: #c0c0c080
	border: 8px solid #0000001a
	position: fixed
	bottom: 140px
	right: 30px
	display: flex
	justify-content: center
	flex-direction: column
	border-radius: 5px
	height: 250px
	&::before
		content: ''
		display: block
		border: 30px solid transparent
		border-right: 30px solid #c0c0c080
		position: absolute
		left: -60px
		top: 40%
	.close__window
		width: 20px
		height: 20px
		position: absolute
		top: 0
		right: -3px
		cursor: pointer
		display: none
		i
			color: black
			font-size: 20px
			
			
	.take__loan
		white-space: nowrap
		transform: rotate(90deg) 
		position: relative
		top: -72px
		a
			transform: rotate(90deg) 
			text-align: center
			color: #ff9c00
			text-transform: uppercase
			font-weight: bold
			&:hover
				cursor: pointer
				
		
	.input__ammount
		display: flex
		align-items: center
		flex-direction: row
		margin-bottom: 8px
		display: none
		p
			width: 50%
			margin: 0
		input
			width: 50%
			border-radius: 8px
			border: 3px solid #4286f480
			padding: 0 10px
			text-align: right
			font-weight: bold
			&:focus
				border: 3px solid #ff9c0080
	.input__term
		display: flex
		align-items: center
		flex-direction: row
		display: none
		
		p
			width: 50%
			margin: 0
		input
			width: 50%
			border-radius: 8px
			border: 3px solid #4286f480
			padding: 0 10px
			text-align: right
			font-weight: bold
			&:focus
				border: 3px solid #ff9c0080
	.get__credit
		padding: 10px 13px
		border-radius: 15px
		background-color: #ff9c00
		color: white
		border: none
		text-transform: uppercase
		font-weight: bold
		display: none

		
	.error
		border: 3px solid red!important

	table
		width: 100%
		margin: 10px 0
		display: none
		
		tbody
			tr
				display: flex
				justify-content: space-between
				font-weight: bold
				&:last-child
					td
						&:first-child
							color: #4286f480
						&:last-child
							color: #ff9c00
				


@import "media" // Always at the end
