@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	height: 200vh
	width: 1140px
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
.fixed__calculator
	box-sizing: border-box
	width: 30px
	padding: 15px
	background-color: #d0d9e9cc
	position: fixed
	bottom: 140px
	right: 30px
	display: flex
	justify-content: center
	flex-direction: column
	border-radius: 5px
	height: 250px
	.close__window
		width: 20px
		height: 20px
		position: absolute
		top: 0
		right: -3px
		cursor: pointer
		display: none
		i
			color: #8f8e8e
			font-size: 20px	
	.take__loan
		white-space: nowrap
		transform: rotate(90deg) 
		position: relative
		top: -72px
		a
			transform: rotate(90deg) 
			text-align: center
			color: #4286f4
			text-transform: uppercase
			font-weight: bold
			&:hover
				cursor: pointer
				color: #ff9c00
				
		
	.input__ammount
		display: flex
		align-items: center
		flex-direction: row
		margin-bottom: 8px
		display: none
		justify-content: space-between
		p
			width: 50%
			margin: 0
			color: #234144
			
		input
			width: 30%
			border-radius: 8px
			border: 3px solid #4286f480
			padding: 0 10px
			text-align: right
			font-weight: bold
			&:focus
				border: 3px solid #ff9c0080
	.input__term
		display: flex
		align-items: center
		flex-direction: row
		display: none
		justify-content: space-between
		
		p
			width: 50%
			margin: 0
			color: #234144
		input
			width: 30%
			border-radius: 8px
			border: 3px solid #4286f480
			padding: 0 10px
			text-align: right
			font-weight: bold
			&:focus
				border: 3px solid #ff9c0080
	.get__credit
		padding: 10px 13px
		border-radius: 30px
		background: linear-gradient(#ff9c00,#f9b54b)
		color: white
		border: none
		text-transform: uppercase
		font-weight: bold
		display: none
		box-shadow: 0 0 3px 3px #f9b54b
		&:hover
			background: linear-gradient(#f9b54b,#ff9c00)
			cursor: pointer


		
	.error
		border: 3px solid red!important

	table
		width: 100%
		margin: 10px 0
		display: none
		
		tbody
			tr
				display: flex
				justify-content: space-between
				font-weight: bold
				&:last-child
					td
						&:first-child
							color: #4286f4
						&:last-child
							background-color: #4286f4
							color: white
							border-radius: 5px
				


@import "media" // Always at the end
